.innerheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mainheading {
  font-size: 2.5rem;
}

.search {
  margin-right: 5%;
  height: 2rem;
  width: 150px;
  border-radius: 20px;
  border: 1px solid rgb(145, 145, 145);
  padding: 9px 5px 9px 40px;
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat 13px center;
    animation-name: expandsearch;
  animation-duration: 0.4s;
}

@keyframes expandsearch {
  from {
    width: 0px;
  }

  to {
    width: 150px;
  }
}

.edit {
  margin-right: 5%;
}

.edit .search {
  margin-right: 6px;
}

.error {
  background-color: rgba(255, 0, 0, 0.2);
}

.button {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  transition: 0.2s;
  cursor: pointer;
  animation-name: expand;
  animation-duration: 0.4s;
}

@keyframes expand {
  from {
    width: 0rem;
  }

  to {
    width: 2.5rem;
  }
}

button:hover.button {
  transform: scale(1.1);
}
