.minicard {
  background-color: white;
  width: 20rem;
  height: 11rem;
  margin: 1.5rem 1.5rem 0 1.5rem;
  /* margin-bottom: 2rem; */
  box-shadow: 0.05rem 0.05rem 0.5rem rgb(161, 161, 161),
    -0.05rem -0.05rem 0.5rem rgb(161, 161, 161);
  border-radius: 10%;
  transform: scale(1);
  cursor: pointer;
  transition: 0.4s;
  height: 100%;
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  min-height: 11rem;
  position: relative;
  display: block;
  /* max-width: 20rem; */
  /* min-width: 10rem; */
}

.makeInline {
  display: inline-block;
  white-space:normal;
  width:20rem;
  height:11rem;
  /* margin-left: 0px; */
}

div:hover.nohover {
  box-shadow: 0.1rem 0.1rem 0.6rem rgb(161, 161, 161),
    -0.1rem -0.1rem 0.6rem rgb(161, 161, 161);
  transform: scale(1.02);
  transition: 0.4s;
}

@media (max-width: 1620px) {
  .minicard {
    transform: scale(0.95);
  }
}

@media (max-width: 1550px) {
  .minicard {
    transform: scale(0.9);
  }
}

@media (max-width: 1470px) {
  .minicard {
    transform: scale(0.85);
  }
}

@media (max-width: 1357px) {
  .minicard {
    transform: scale(1);
  }
}

@media (max-width: 1100px) {
  .minicard {
    transform: scale(0.95);
  }
  div:hover.minicard {
    transform: scale(0.98);
  }
}

/* @media (max-width: 890px) {
  .minicard {
    transform: scale(0.8);
  }
} */

@media (max-width: 750px) {
  .minicard {
    transform: scale(0.9);
  }
  div:hover.minicard {
    transform: scale(0.93);
  }
}

/* @media (max-width: 719px) {
  .minicard {
    transform: scale(0.85);
  }
} */

@media (max-width: 438px) {
  .minicard {
    margin-left: 0px;
  }
}

@media (max-width: 420px) {
  .minicard {
    transform: scale(0.85);
  }
  div:hover.minicard {
    transform: scale(0.88);
  }
}

@media (max-width: 410px) {
  .minicard {
    transform: scale(0.8);
  }
  div:hover.minicard {
    transform: scale(0.83);
  }
}

@media (max-width: 400px) {
  .minicard {
    transform: scale(0.7);
  }
  /* .minicard.makeInline {
    margin-left: 0px;
  } */
  div:hover.minicard {
    transform: scale(0.72);
  }
}


/* @media (max-width: 600px) {
  .minicard {
    transform: scale(0.8);
  }
  div:hover.nohover {
    transform: scale(0.9);
  }
}

@media (max-width: 430px) {
  .minicard {
    transform: scale(0.6);
  }
  div:hover.nohover {
    transform: scale(0.7);
  }
} */

.minicard img {
  height: 100%;
  width: 50%;
  border: 0px solid transparent;
  border-radius: 10% 0 0 10%;
  border-right: 1px solid rgb(212, 212, 212);
}

.textbox {
  position: relative;
  width: 50%;
  left: 50%;
  bottom: 100%;
  height: 95%;
  border-radius: 0 10% 10% 0;
  margin: 0;
  /* padding-top: 2%; */
  /* padding-left: 2%; */
  padding: 1.5%;
  /* padding-bottom: 2%; */
  /* background:linear-gradient(transparent 100%, white); */
}

.textboxFull {
  position: relative;
  width: 50%;
  left: 50%;
  bottom: 100%;
  height: 95%;
  border-radius: 0 10% 10% 0;
  margin: 0;
  /* padding-top: 2%; */
  /* padding-left: 2%; */
  padding: 1.5%;
  overflow: auto;
  /* padding-bottom: 2%; */
  /* background:linear-gradient(transparent 100%, white); */
}

.text {
  height: 80%;
  overflow: auto;
}

.textbox div {
  color: grey;
  margin-right: 1%;
}

.textbox h1 {
  font-size: 1.3rem;
  /* font-size: 110%; */
  padding-bottom: 3%;
  color: black;
  overflow-wrap: break-word;
}

.textboxFull div {
  color: grey;
  /* font-size: 0.8rem; */
  margin-right: 1%;
  overflow-wrap: break-word;
}

.textboxFull h1 {
  font-size: 1.3rem;
  /* font-size: 110%; */
  padding-bottom: 3%;
  color: black;
  overflow-wrap: break-word;
}

.subtract {
  position: relative;
  background-color: transparent;
  width: 100%;
  height: 20%;
  text-align: right;
  animation-name: slideIn;
  animation-duration: 0.4s;
}

@keyframes slideIn {
  from {
    height: 0%;
  }

  to {
    height: 20%;
  }
}

.button {
  position: relative;
  top: 25%;
  border-radius: 50%;
  width: 1.7rem;
  height: 1.7rem;
  border: none;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  margin-right: 5px;
  transition: 0.2s;
  cursor: pointer;
}

button:hover.button {
  transform: scale(1.2);
}
