.Modal {
  position: fixed;
  z-index: 200;
  border: 1px solid #eee;
  box-shadow: 0 2px 2px #ccc;
  background-color: white;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  top: 30%;
  left: 25%;
  width: 50%;
  height: 40%;
  border-radius: 20px;
  transition: all 0.6s ease-out;
}
/*can use the keyframes stuff here*/
.ModalOpen {
  animation: openModal 0.6s ease-out forwards; /*have to add forwards to ensure that the final animation step is kept*/
}

.ModalClosed {
  animation: closeModal 1s ease-out forwards;
}

/*keyframes are the animation steps*/
@keyframes openModal {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  /* 50% {
    opacity: 0.5;
    transform: translateY(-50%);
  } */
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes closeModal {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0.8;
    transform: translateY(60%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.Modal img {
  position: relative;
  height: 100%;
  width: 50%;
  left: -25%;
  border: 0px solid transparent;
  border-radius: 10% 0 0 10%;
  border-right: 1px solid rgb(212, 212, 212);
  /* border: none; */
}

.textboxFull {
  position: relative;
  width: 50%;
  left: 50%;
  bottom: 100%;
  height: 88%;
  border-radius: 0 10% 10% 0;
  margin: 0;
  /* padding-top: 2%; */
  /* padding-left: 2%; */
  padding: 1.5%;
  overflow: auto;
  text-align: left;
  /* border: none; */
  /* padding-bottom: 2%; */
  /* background:linear-gradient(transparent 100%, white); */
}

.textboxFull div {
  color: grey;
  margin-right: 1%;
  margin-bottom: 2px;
}

.close:before {
  content: "✕";
  color: grey;
}

.close {
  /* display: inline-block; */
  position: absolute;
  left: 96.5%;
  top: 1%;
  width: 0px;
  cursor: pointer;
}

span:hover.close:before {
  color: black;
}

.buttons {
  position: absolute;
  width: 150px;
  left: 72%;
  bottom: 0%;
  height: 30px;
  border-radius: 0 10% 10% 0;
}

.closeBtn {
    margin-right: 7%;
    height:28px;
    width: 30%;
    font-weight: bold;
    border-radius: 10px;
    border: 0px;
    background-color: rgb(218, 218, 218);
}

button:hover.closeBtn {
    border: 1px solid black;
}

.deleteBtn {
    height:28px;
    font-weight: bold;
    width:35%;
    color: white;
    border-radius: 10px;
    border: 0px solid grey;
    background-color: rgb(0, 0, 0);
}

button:hover.deleteBtn {
    border: 1px solid rgb(252, 252, 252);
}

/*950px breakpoint*/

@media (max-width: 950px) {
  .Modal {
    position: fixed;
    z-index: 200;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    background-color: white;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    border-radius: 20px;
    transition: all 0.6s ease-out;
  }

  .Modal img {
    position: relative;
    height: 35%;
    width: 100%;
    left: 0%;
    border: 0px solid transparent;
    border-radius: 10% 10% 0 0;
    border-bottom: 1px solid rgb(212, 212, 212);
    /* border: none; */
  }

  .textboxFull {
    position: relative;
    width: 100%;
    left: 0%;
    bottom: 0%;
    height: 65%;
    border-radius: 0 0 10% 10%;
    margin: 0;
    /* padding-top: 2%; */
    /* padding-left: 2%; */
    padding: 1.5%;
    overflow: auto;
    text-align: left;
    /* border: 2px solid red; */
    /* border: none; */
    /* padding-bottom: 2%; */
    /* background:linear-gradient(transparent 100%, white); */
  }
  
  .textboxFull div {
    color: grey;
    margin-right: 1%;
    margin-bottom: 2px;
  }

  .buttons {
    position: absolute;
    width: 150px;
    left: 0px;
    bottom: 0%;
    /* float: right; */
    height: 30px;
    border-radius: 0 10% 10% 0;
  }
}

@media (max-width: 500px) {
  .Modal {
    width: 75%;
    left: 12.5%;
  }
}