.whole {
    display:flex;
    height: 87%;
}

.form {
    position: relative;
    width:66.6%;
    padding-right: 2%;
}

.all {
    position: relative;
    width:33.3%;
    padding-left: 2%;
    border-left: 1px solid rgb(197, 197, 197);
}

@media (max-width: 1272px) {
    .whole {
        display: block;
    }
    .all {
        width: 100%;
        border-left: 0px;
        border-top: 1px solid rgb(197, 197, 197);
        margin-top: 30px;
        padding-top: 20px;
    }
    .form {
        width: 100%;
    }
}